// try looping using @for.
$size: 0%;
@for $i from 1 through 4 {
	.col-#{$i} {
		@if $i == 1 {
			$size: 100%;
		}
		@else if $i == 2 {
			$size: 50%;
		}
		@else if $i == 3 {
			$size: 33.3333333333%;
		}
		@else {
			$size: 25%;
		}
		width: $size;
	}
}
